body {
    background-image: url("images/desert.jpg");
    background-color: #cccccc;
    text-align: center; background-color: black;
}

h1 {
    font-weight: bold; font-size: 60px; font-family: Arial, sans-serif; color: white;
}

h6 {
    font-size: 60px; font-family: Arial, sans-serif; color: white;
}

p {
    font-size: 24px; font-family: "Times New Roman", monospace;color: yellow;
}
