body {
    background-color: #0000;
}

h1,h6 {
    font-size: 60px; font-family: Arial, sans-serif; color: white;
}

p {
    font-size: 24px; font-family: "Times New Roman", monospace;color: yellow;
}
