body {
    background-color: black;
    text-align: center; color: 002306;
}
h1 {
  text-align: left; font-size: 75px; font-weight: bold; font: Arial; color: 102030;
}
p {
  font-size: 30px; text-align: center;
}
